@font-face {
    font-family: Intro;
    src: url('fonts/Intro.otf');
}
@font-face {
    font-family: SerifGothic;
    src: url('fonts/serifgothicblackregular.ttf');
}

body {
  margin: 0 auto;
  font-family: Intro; 
  width: 1200px;
  color: 686868;
}

#drops .column {
  font-family: SerifGothic;
  float:left;
  width: 400px;
  height: 525px;
  text-align:center;
}

#drops .column h2{
  font-size: 40px;
  line-height: 0.1em;
  letter-spacing: 0.0001em;
  position: relative;
  top: -295px;
  color: white
}

#drops .column h1.drop{
  letter-spacing: -.045em;
}

#drops .column h1{
  position: relative;
  line-height: 0.3em;
  font-size: 69px;
  letter-spacing: 0em;
  top: -293px;
  color: white;
}

#drops .column img {
  width:100%;
}

#drops hr {
  border:0%;
  margin-bottom:13px;
  width:100%;
  height:13px;
  background-color:#A6A088;
  clear:left;
}

#venues {
  width: 1200px;
  height: 300px;
  background-color:#2B3C3F;
  margin-bottom: 20px;
}

#drops {
  width:1200px;
  margin-bottom: 100px;
}

#subtitle {
  text-align:center;
  margin-bottom: 40px;
}

#subtitle h2 {
  margin: 0 0 0 0;
  font-size: 50px;
  color: #D75227;
}

#subtitle h1 {
  margin: 0 0 0 0;
  font-size: 93px;
  font-family: SerifGothic;
  letter-spacing: -0.04em;
  color: #37B6A0;
}

#shapes {
  width: 1200px;
  margin-bottom: 30px;
}

#shapes img {
  width: 100%;
}

#venues h1 {
  font-family: SerifGothic; 
  font-size: 160px;
  line-height: 1em;
  color: #37B6A0;
  margin: 0 0 0 0;
}

#venues h2 {
  font-size: 70px;
  line-height: 1em;
  margin: 0 0 -14px 0;
  color: #D75227;
}

#venues img {
    margin-top: 35px;
    height:75%;
}

#venues .column1 {
  margin: 14px 0 0 10px;
  width: 490px;
  text-align:left;
  float:left;
}

#venues .column2 {
  width: 200px;
  text-align:center;
  float:left;
}

#venues .column3 {
  margin: 14px 10px 0 0;
  width: 490px;
  text-align:right;
  float:left;
}

#act-top {
  width:100%;
}

#acts {
 width: 1200px;
}

#acts .hralign {
  margin-top:20px;
  float:left;
  width:400px;
  height:140px;
}

#acts hr {
  height: 14px;
  background-color:#A6A088;
  width:100%;
}

#acts h1 {
  font-size: 150px;
  margin: 0 100px 0 100px;
  line-height: 1em;
  color: #37B6A0;
  font-family: SerifGothic;
  float: left;
  width: 200px;
}

#acts img {
  float:left;
  width: 60px;
}

#acts .bottom-acts {
  width:1200px;
}

#acts h2 {
  color: #D75227;
  font-size:70px;
  width:1070px;
  text-align: center;
  float:left;
  margin: 0 0 0 0;
}

#date {
  height: 850px;
}

#date .dates {
  position:relative;
  top: -500px;
}

#date .column1 {
  margin-left: 585px;
}

#date .column1 h1 {
  color: #37B6A0;
  margin: 0 0 0 0;
  font-family: SerifGothic;
  font-size: 100px; 
}

#date .column1 h2 {
  color: #D75227;
  font-size:60px;
  margin: 0 0 0 0;
}

#date .column2 {
  width: 600px;
  margin-left:27px;
  margin-top:48px;
}

#date .column2 h1 {
  color: #37B6A0;
  font-size:205px;
  line-height: 1em;
  margin: -20px 0 -10px 0;
  float:left;
  font-family: SerifGothic;
}

#date .column2 hr {
  border:0%;
  background-color: #D75227;
  margin: 0 0 4px 0;
  height: 13px;
  width: 280px;
}

#date .column2 h2 {
  color: #D75227;
  font-size: 90px;
  margin: 0 0 -10px 0;
}

#date .satap {
  float:left;
}

#date .column3 {
  width: 300px;
  margin-top: 150px;
  margin-left: 600px;
}

#date .column3 h1 {
  color: #D75227;
  font-size: 39px;
  margin: 0 0 0 180px;
}
 
#footer {
  background-color:#2B3C3F;
  height: 160px;
  clear:left;
}

#footer a {
  color: white;
  text-decoration:none;
}

#footer .column1 {
  margin-left: 10px;
  margin-top: 10px;
  float:left;
  width: 210px;
}

#footer h1 {
 margin: 0 0 0 0;
 color:white;
}

#footer .column1 img{
   width: 200px;
}

#footer .column1 h1 {
  font-size:20px;
  text-align:center;
}

#footer .column2 {
  margin-left: 45px;
  float:left;
  width:443px;
}

#footer .column2 img{
  width:90px;
  margin-top:40px;  
  float:left;
}

#footer .column2 h1 {
  font-size:25px;
  margin-top:95px;  
  float:left;
}

#footer .column3 {
  margin-left: 45px;
  width: 445px;
  float:left;
}

#footer .column3 img{
  width:90px;
  margin-top:40px;  
  float:left; 
}

#footer .column3 h1 {
  font-size:25px;
  float:left; 
}

hr{
  width:100%;
  height: 14px;
  background-color:#686868;
  clear: left;
}
